:root[data-theme=light] {
  --rsc-anchor-container-background-color: #8e9b97;
  --rsc-anchor-border-color: #537072;
  --rsc-anchor-text-color: #f4ebdb;
  --rsc-card-container-background-color: #8e9b97;
  --rsc-card-slider-control-background-color: #8e9b97;
  --rsc-card-slider-label-color: #f4ebdb;
}

:root[data-theme=dark] {
  --rsc-anchor-container-background-color: #8e9b97;
  --rsc-anchor-border-color: #537072;
  --rsc-anchor-text-color: #f4ebdb;
  --rsc-card-container-background-color: #8e9b97;
  --rsc-card-slider-control-background-color: #8e9b97;
  --rsc-card-slider-label-color: #f4ebdb;
}

:root {
  font-family: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
}

@keyframes rsc-progress-anim {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.rsc-progress, .rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-track-failure, .rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-track-success, .rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-track-default,
.rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-track-active, .rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-track {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  -webkit-background-size: 40px 40px;
  -webkit-animation: rsc-progress-anim 2s linear infinite;
  -o-animation: rsc-progress-anim 2s linear infinite;
  animation: rsc-progress-anim 2s linear infinite;
}

@keyframes rsc-open-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.rsc-open {
  background-color: #424242;
  -webkit-animation: rsc-progress-anim 0.3s ease-in-out 1 forwards;
  -o-animation: rsc-open-anim 0.3s ease-in-out 1 forwards;
  animation: rsc-open-anim 0.3s ease-in-out 1 forwards;
}

.rsc-container {
  box-sizing: border-box;
  max-width: 200px;
}
.rsc-container .rsc-icon-dark {
  display: none;
}
.rsc-container .rsc-icon-light {
  display: block;
}
.rsc-container .rsc-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
  margin-top: 1px;
}
.rsc-container .rsc-anchor .rsc-anchor-container {
  display: flex;
  align-items: center;
  justify-content: left;
  box-shadow: 0px 0px 3px 0px var(--rsc-anchor-border-color);
  border: 1px solid var(--rsc-anchor-border-color);
  background-color: var(--rsc-anchor-container-background-color);
  color: var(--rsc-anchor-text-color);
  width: 100%;
  height: 50px;
  padding: 13px;
  max-width: 200px;
}
.rsc-container .rsc-anchor .rsc-anchor-container .rsc-anchor-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  height: 24px;
  width: 24px;
  background-color: #fff;
}
.rsc-container .rsc-anchor .rsc-anchor-container .rsc-anchor-checkbox-default:hover {
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.35);
}
.rsc-container .rsc-anchor .rsc-anchor-container .rsc-anchor-label {
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin-left: 13px;
  cursor: default;
}
.rsc-container .rsc-anchor .rsc-hidden {
  background: none;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}
.rsc-container .rsc-anchor .rsc-card-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 250px;
  min-height: 200px;
  z-index: 1;
}
.rsc-container .rsc-anchor .rsc-card-container {
  position: absolute;
  padding: 15px 15px 0 15px;
  min-width: 250px;
  min-height: 200px;
  background-color: var(--rsc-card-container-background-color);
  box-shadow: 0px -1px 0px -2px rgba(0, 0, 0, 0.2), 0px 2px 9px 0px rgba(0, 0, 0, 0.14), 0px 5px 9px 0px rgba(0, 0, 0, 0.15);
  margin-top: -150px;
  margin-left: -25px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  opacity: 0;
}
.rsc-container .rsc-anchor .rsc-card-container .rsc-card-background {
  width: 250px;
  height: 150px;
}
.rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-puzzle {
  margin-left: 15px;
  margin-top: 15px;
  position: absolute;
  left: 5px;
  top: 0;
  height: 150px;
  width: 60px;
  cursor: pointer;
}
.rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-container {
  margin-top: 7px;
  position: relative;
  height: 44px;
  width: 250px;
}
.rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-track {
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 3px;
  left: 0;
  width: 250px;
  height: 24px;
  border-radius: 3px;
  background-color: var(--rsc-card-slider-control-background-color);
}
.rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-track-default,
.rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-track-active {
  background-color: #337ab7;
}
.rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-track-success {
  background-color: #5cb85c;
}
.rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-track-failure {
  background-color: #d9534f;
}
.rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-label {
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rsc-card-slider-label-color);
  padding-left: 0;
  position: absolute;
  top: 3px;
  left: 0;
  width: 250px;
  height: 24px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: default;
}
.rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-mask {
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 2px;
  left: 0;
  width: 0;
  height: 26px;
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-control {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-control-default {
  background-color: #fafafa;
}
.rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-control-active {
  background-color: #337ab7;
}
.rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-control-success {
  background-color: #5cb85c;
}
.rsc-container .rsc-anchor .rsc-card-container .rsc-card-slider-control-failure {
  background-color: #d9534f;
}

/*# sourceMappingURL=styles.css.map */
